.Chat-main
  
  .group-info
    .group-info__header 
      %h3.group-info__header__group-name test
      %p.group-info__header__member Member : masa
    = link_to '#', class: "group-info__edit" do
      Edit

  .message-list
    = render @messages

  .Form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'input-box__image__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit'