.side-bar
  .user-name
    .top-items
      %p.top-items__name 
        = current_user.name
      %ul.top-items__icons
        %li
        = link_to new_group_path(current_user), class: "top-items__icons__icon" do
          = icon('far', 'edit', class: "top-items__icons__icon__edit")
        %li
<<<<<<< Updated upstream
        = link_to edit_user_path(current_user), class: "top-items__icons__icon" do
=======
        = link_to edit_group_path(@group), class: "top-items__icons__icon" do
>>>>>>> Stashed changes
          = icon('fas', 'cog', class: "top-items__icons__icon__cog")

  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#', class: "group__content" do
          .group__content__group__name
            = group.name
          .group__content__group__message
            メッセージはまだありません

