.Side-bar
  .user-name
    .top-items
      %p.top-items__name 
        = current_user.name
      %ul.top-items__icons
        %li
        = link_to new_group_path(current_user), class: "top-items__icons__icon" do
          = icon('far', 'edit', class: "top-items__icons__icon__edit")
        %li
        = link_to edit_group_path(@group.id), class: "top-items__icons__icon" do
          = icon('fas', 'cog', class: "top-items__icons__icon__cog")

  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group__content" do
          .group__content__group-name
            = group.name
          .group__content__group-message
            = group.show_last_message

